name: Renovate

on:
  schedule:
    - cron: '40 12 * * *'
  push:
    branches: [ "main" ]

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Get token
        id: get_token
        uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2
        with:
          app-id: ${{ secrets.app_id }}
          private-key: ${{ secrets.private_key }}
          owner: ${{ github.repository_owner }}
          repositories: zfs-http-query

      - name: Renovate
        uses: renovatebot/github-action@03026bd55840025343414baec5d9337c5f9c7ea7 # v44.0.4
        with:
          token: ${{ steps.get_token.outputs.token  }}
        env:
          RENOVATE_REPOSITORIES: ${{ github.repository }}
          RENOVATE_ONBOARDING: false
