name: Renovate

on:
  schedule:
    - cron: '40 12 * * *'
  push:
    branches: [ "main" ]

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Get token
        id: get_token
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2
        with:
          app-id: ${{ secrets.app_id }}
          private-key: ${{ secrets.private_key }}
          owner: ${{ github.repository_owner }}
          repositories: zfs-http-query

      - name: Renovate
        uses: renovatebot/github-action@4ebebabcd582dddea1692b05c3d5279f8e372b53 # v44.0.0
        with:
          token: ${{ steps.get_token.outputs.token  }}
        env:
          RENOVATE_REPOSITORIES: ${{ github.repository }}
          RENOVATE_ONBOARDING: false
